In [15]:
import pandas as pd
import numpy as np

In [16]:
import os

In [17]:
df=pd.read_csv(r"c:/Users/DELL/OneDrive/Documents/dowry_system_india.csv")
df

,Year,State,Dowry_Death_Cases,Total_Crimes_Against_Women,Conviction_Rate_Percent,Area_Type
0,2019.0,Uttar Pradesh,2300.0,59000.0,35.0,Rural
1,2019.0,Bihar,1400.0,32000.0,31.0,Rural
2,2019.0,Madhya Pradesh,1200.0,47000.0,38.0,Urban
3,2019.0,Rajasthan,1100.0,45000.0,40.0,Rural
4,2019.0,West Bengal,900.0,42000.0,42.0,Urban
...,...,...,...,...,...,...
67,2019.0,Kerala,400.0,20000.0,55.0,Urban
68,2020.0,Kerala,390.0,19500.0,56.0,Urban
69,2021.0,Kerala,380.0,19000.0,57.0,Urban
70,2022.0,Kerala,370.0,18500.0,58.0,Urban
71,2023.0,Kerala,360.0,18000.0,59.0,Urban

In [10]:
df.dtypes

Year                          float64
State                          object
Dowry_Death_Cases             float64
Total_Crimes_Against_Women    float64
Conviction_Rate_Percent       float64
Area_Type                      object
dtype: object

In [12]:
df_clean=df.dropna()
df

,Year,State,Dowry_Death_Cases,Total_Crimes_Against_Women,Conviction_Rate_Percent,Area_Type
0,2019.0,Uttar Pradesh,2300.0,59000.0,35.0,Rural
1,2019.0,Bihar,1400.0,32000.0,31.0,Rural
2,2019.0,Madhya Pradesh,1200.0,47000.0,38.0,Urban
3,2019.0,Rajasthan,1100.0,45000.0,40.0,Rural
4,2019.0,West Bengal,900.0,42000.0,42.0,Urban
...,...,...,...,...,...,...
67,2019.0,Kerala,400.0,20000.0,55.0,Urban
68,2020.0,Kerala,390.0,19500.0,56.0,Urban
69,2021.0,Kerala,380.0,19000.0,57.0,Urban
70,2022.0,Kerala,370.0,18500.0,58.0,Urban
71,2023.0,Kerala,360.0,18000.0,59.0,Urban

In [13]:
df.duplicated

<bound method DataFrame.duplicated of       Year           State  Dowry_Death_Cases  Total_Crimes_Against_Women  \
0   2019.0   Uttar Pradesh             2300.0                     59000.0
1   2019.0           Bihar             1400.0                     32000.0
2   2019.0  Madhya Pradesh             1200.0                     47000.0
3   2019.0       Rajasthan             1100.0                     45000.0
4   2019.0     West Bengal              900.0                     42000.0
..     ...             ...                ...                         ...
67  2019.0          Kerala              400.0                     20000.0
68  2020.0          Kerala              390.0                     19500.0
69  2021.0          Kerala              380.0                     19000.0
70  2022.0          Kerala              370.0                     18500.0
71  2023.0          Kerala              360.0                     18000.0

    Conviction_Rate_Percent Area_Type
0                      35.0     Rural
1                      31.0     Rural
2                      38.0     Urban
3                      40.0     Rural
4                      42.0     Urban
..                      ...       ...
67                     55.0     Urban
68                     56.0     Urban
69                     57.0     Urban
70                     58.0     Urban
71                     59.0     Urban

[72 rows x 6 columns]>